.Button {
  margin: 10px auto;
  padding: 15px 20px;
  background: url('../styles/images/harry.potter.jpg');
  font-family: 'Parisienne', cursive;
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 12px lightgoldenrodyellow;
}
